.posters {
   width: 1200px;
   height: 430px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   padding: 10px;
   border: 1px solid #EBEBEB;
   margin: 0 auto;
   margin-top: 15px;
}
.posterTitle{
   width: 1160px;
   height: 40px;
   display: flex;
   justify-content: space-between;
}
.pTitleCategory {
   width: 500px;
   height: 40px;
   font-size: 24px;
   text-align: left;
   line-height: 40px;
}
.pTitleMore {
    width: 80px;
    height: 40px;
    font-size: 14px;
    text-align: left;
    line-height: 40px;
    color: lightgray;
}
.pTitleMore a:hover{
    color: #0088D6;
}
.posterBody {
   width: 1160px;
   height: 365px;
   display: flex;
   justify-content: space-between;
}
.firstPosterContainer {
    width: 270px;
    height: 365px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.firstPosterImg {
    width: 270px;
    height: 365px;
    border-radius: 8px;
}
.firstPosterDetail {
    width: 270px;
    height: 140px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.firstPosterName {
    margin-top: 5px;
    margin-left: 15px;
    width: 270px;
    height: 25px;
    text-align: left;
    line-height: 25px;
    font-size: 16px;
    color: white;
}
.posterItem {
    width: 870px;
    height: 365px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
