.posterContainer {
   width: 290px;
   height: 180px;
   display: flex;
   justify-content: space-between;
   margin-top: 9px;
}
.posterImgContainer{
   width: 120px;
   height: 160px;
}
.posterImg {
    width: 120px;
    height: 160px;
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24),  0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}
.posterDetailContainer {
    width: 170px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.posterDetailBox {
    width: 135px;
    height: 120px;
    display: flex;
    flex-direction: column;
}
.name {
    width: 135px;
    font-size: 14px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.address {
    margin-top: 5px;
    width: 135px;
    font-size: 12px;
    text-align: left;
    color: gray;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.time {
    width: 135px;
    font-size: 12px;
    text-align: left;
    color: gray;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.price {
    width: 135px;
    height: 40px;
    font-size: 14px;
    text-align: left;
    line-height: 40px;
    color: #FF1268;
}
