.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all {
    width: 1200px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.format{
    width: 95%;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    color: #3c4858;
    font-size: 1rem;
    letter-spacing: normal!important;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    z-index: 3;
    position: relative;
    background: #FFF;
    margin: 20px 30px 50px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 10px ;
    text-align: center;
}
.left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leftb {
    width: 960px;
    display: flex;
    flex-direction: column;
}
.leftbt {
    width: 960px;
    display: flex;
    justify-content: center;
}
.leftbtb {
    height: 40px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
a:link{
    color: #ff3366;
}
a:visited{
    color: #ff3366;
}
.leftbb {
    width: 960px;
    margin-bottom: 20px;
}
.right {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rightb {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rightbt {
    width: 320px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}
.rightb {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:0 0 auto;
}
.subtitle{
    font-size: 22px;
    font-weight: bold;
    color: black;
    margin-top: 70px;
}
.line{
    width: 160px;
    height: 5px;
    background-color: #ff3366;
    margin: 10px auto;
}
.mytext{
    color: #555;
    font-size: 15px;
    margin-top: 20px;
}
.mytext2{
    color:#4A4A4A;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 20px;
}
.img1{
    width: 600px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.img2{
    width: 600px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.textg{
    color: #999999;
    font-size: 12px;
    margin-top: 20px;
}
.textgs{
    color: #4A4A4A;
    font-size: 16px;
    margin-top: 10px;
}

.showDetails {
    width: 60%;
    margin: 20px auto;
}

.detailText{
    color:#4A4A4A;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 20px;
}
.base {
    width: 95%;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    color: #3c4858;
    font-size: 1rem;
    letter-spacing: normal!important;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    z-index: 3;
    position: relative;
    background: #FFF;
    margin: 20px 30px 40px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 10px ;
    text-align: center;
}
.briefInfo{
    width: 84%;
    text-align: center;
    margin: 10px auto 30px;
    display: flex;
    flex-direction: row;
}
.showInfo {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leftb {
    width: 880px;
    display: flex;
    flex-direction: column;
}
.subNavs {
    width: 100%;
    display: flex;
    justify-content: center;
}
.subNav {
    height: 40px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.showDetails {
    width: 60%;
    margin: 20px auto;
}
.ticketInfo {
    margin-top: 10px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    width: 160px;
    height: 5px;
    background-color: #ff3366;
    margin: 10px auto;
}
.subtitle{
    color: #4A4A4A;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 700;
}
.detailText{
    color:#4A4A4A;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 20px;
}
.img{
    width: 600px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.tipTitle{
    color: #999999;
    font-size: 12px;
    margin-top: 20px;
}
.tip{
    color: #4A4A4A;
    font-size: 16px;
    margin-top: 10px;
}
