.base {
    width: 95%;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    color: #3c4858;
    font-size: 1rem;
    letter-spacing: normal!important;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    z-index: 3;
    position: relative;
    background: #FFF;
    margin: auto;
    margin-top: 30px;
    padding-top: 20px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 10px ;
}
.title{
    width: 900px;
    border: 1px solid #E9E9E9;
    margin: 10px auto 30px;
    border-radius: 5px;
}
.titleContainer{
    margin-top: 18px;
    margin-left: 40px;
    margin-right: 40px;
}
.titleBox{
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
}
.titleOne{
    width: 80px;
    height: 25px;
    text-align: center;
    margin-left:15px;
}
.showMore{
    width: 80px;
    height: 25px;
    color: #999999;
    text-align: center;
    margin-left:15px;
}
.showMore:hover{
    color: #0088D6;
}
.titleSelected{
    background-color: #0088D6;
    color:white;
}
.datePicker{
    margin-left:15px;
    width: 105px;
}
.horizontal{
    display: flex;
}
.line{
    width: 95%;
    height: 1px;
    background-color: #E9E9E9;
    margin:0 auto;
    margin-top: 5px;
}
.showContainer{
    border-radius: 6px;
    width: 1200px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.showBox{
    width: 100%;
    height: 40px;
    background-color: #F5F5F5;
    display: flex;
    margin-bottom: 20px;
}

.showOne{
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.showSelected{
    background-color: white;
    color:#0088D6;
}
.paging{
    margin:20px 20px 20px 600px
}
