#components-layout-demo-top-side .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  }
  .format{
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    color: #3c4858;
    font-size: 1rem;
    text-align: left;
    letter-spacing: normal!important;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    z-index: 3;
    position: relative;
    background: #FFF;
    margin: 20px 30px 0;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 10px ;
    padding-left: 70px;
    padding-right: 70px;
  }
  .tabBox{
    width: 100px;
    height: 30px;
    color: white;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    border-radius: 5px;
    font-weight: 700;
  }
  .line{
    height: 3px;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    margin-top: -3px;
  }
  .input{
    width: 300px;
    margin-top: 15px;
    margin-left: 5px;
  }
  .genderSelect{
    margin-top: 15px;
    margin-left: 30px;
  }
  .dateSelect{
    margin-top: 15px;
  }
  .button{
    margin-top: 15px;
    background-color: #ff3366;
    border:none;
  }
  .table-operations {
    margin-bottom: 16px;
  }

  .table-operations > button {
    margin-right: 8px;
  }
