.tabBox{
    width: 100px;
    height: 30px;
    color: white;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    border-radius: 5px;
    font-weight: 700;
}
.line{
    height: 3px;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    margin-top: -3px;
}
.attr{
    margin-right: 20px;
}
.ticketInput{
    margin-right: 20px;
    width: 120px;
}
.ticketInput input{
    width: 100px
}
.ticketInput input:focus{
    border: 1px solid #ff3366;
}
.ticketTag span{
    height: 30px;
    font-size: large;
    padding-top: 4px;
    margin-right: 10px;
    background-color: #ff3366;
}
.button{
    margin-top: 15px;
    background-color: #ff3366;
    border:none;
    color: white;
}
.cancelBtn:hover{
    border: 1px solid #ff3366;
    color: #ff3366;
}