.container{
    width:1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
}
.buyerInfoContainer{
    width: 900px;
    display: flex;
    flex-direction: column;
    border: 1px solid #E9E9E9;
}
.header{
    height: 50px;
    background-color: #E9E9E9;
}
.headerItem{
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: #FFFFFF;
}
.headerItem span{
    line-height: 50px;
    font-family: 'PingFangSC', sans-serif;
    font-weight: bold;
}
.InputContainer{
    margin:40px auto 0px 40px;
    width: 200px;
}
.radioStyle{
    display: block;
}
.watcherContainer{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}
.watcherHeader{
    font-weight: bold;
    font-size: 20px;
}
.row{
    width: 100%;
}
.watcherItemContainer{
    margin-left: 10px;
    margin-top: 10px;;
    display: inline-block;
    width: 31%;
}
.cardContent{
    display: flex;
    flex-direction: column;
}
.tickerInfoContainer{
    margin-left:20px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #E9E9E9;
}
.imgAndNameContainer{
    height: 120px;
    display: flex;
    flex-direction: row;
}
.imgContainer{
    margin: 20px 20px;
    width: 80px;
    height: 100px;
}
.imgContainer img{
    width: 80px;
    height: 100px;
}
.nameContainer{
    width: 180px;
    margin: 20px 20px;
    font-size: 12px;
}
.basicInfoContainer{
    margin-left: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
.gray{
    color: #999999;
}
.rightAlign{
    float: right;
    margin-right: 40px;
}
.red{
    color:#FF1D76;
}

